.containerAbout {
  margin-top: 80px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  width: 100%;
  background-color: var(--primaryColor);
  color: var(--white);
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
}
.marginBottom {
  margin-bottom: 20px;
}
.containerPadding {
  padding: 20px 20px;
}
.wrappContainer {
  border: 3px solid #f4f5f6;
  padding: 10px 30px;
  margin-bottom: 20px;
}
.subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  color: var(--primaryColor);
}
.text {
  font-size: 16px;
  color: var(--text);
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .containerPadding {
    padding: 10px 50px;
  }

  .wrappContainer {
    padding: 20px 40px;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 30px;
    height: 100px;
  }
  .wrappContainer {
    padding: 20px 60px;
  }
  .marginBottom {
    margin-bottom: 40px;
  }
  .subtitle {
    font-size: 24px;
  }
  .text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .containerPadding {
    padding: 10px 80px;
  }
}
@media screen and (min-width: 1440px) {
  .containerPadding {
    padding: 10px 200px;
  }
}
@media screen and (min-width: 1920px) {
  .containerPadding {
    padding: 10px 350px;
  }
  .title {
    height: 120px;
    font-size: 40px;
  }
  .subtitle {
    font-size: 30px;
  }
}
