.containerThirdSection {
  width: 100%;
  background-color: var(--lightSecondaryColor);
  padding: 40px;
  box-sizing: border-box;
}
.title {
  /* font-family: "Alfa Slab One"; */
  text-transform: uppercase;
  font-size: 22px;
  padding-top: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--darkPrimaryColor);
}

@media screen and (min-width: 768px) {
  .containerThirdSection {
    box-sizing: border-box;
    padding: 45px 45px;
  }

  .title {
    font-size: 30px;
    padding: 0px 0px;
  }
}
@media screen and (min-width: 1024px) {
  .containerThirdSection {
    padding: 45px;
  }
}
@media screen and (min-width: 1440px) {
  .containerThirdSection {
    padding: 70px 90px;
  }
}
@media screen and (min-width: 1920px) {
  .containerThirdSection {
    padding: 50px 170px;
  }
}
