.containerThirdSection {
  text-align: center;
  /* padding: 50px 20px; */
  width: 100%;
  background-size: cover;
  background-image: url(../../../images//thirdSectionImage_background.jpeg);
  /* background-color: var(--lightSecondaryColor); */
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.backgroundShadow {
  background-color: #009688de;
  width: 100%;
  height: 100%;
}
.title {
  font-size: 26px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  color: var(--white);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.text {
  padding: 0px 15px 10px 15px;
  color: var(--dark);
  font-family: "Dancing Script", cursive;
  /* font-family: cursive; */
  font-size: 26px;
  letter-spacing: 1px;
}

.containerButtonIcons {
  display: flex;
  flex-direction: column;
}
.containerButton {
  padding: 30px 0px;
}
.containerIconsSection {
  display: flex;
  align-self: center;
  margin-top: 30px;
}
.containerIconsSection {
  display: none;
}
.wrapIconsSection {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
}
.icon {
  color: var(--dark);
}
.textIcon {
  padding-top: 10px;
  color: var(--dark);
}
.containerThirdSection :global(.MuiButton-root) {
  font-size: 20px;
  border: 1px solid;
}
@media screen and (min-width: 768px) {
  .containerThirdSection {
    height: 400px;
    padding: 80px 60px;
  }
  .title {
    font-size: 30px;
  }
  .text {
    padding: 60px 0px;
    font-size: 24px;
  }
  .containerButtonIcons {
    flex-direction: unset;
    align-items: center;
    padding: 30px 0px;
  }
  .containerButton {
    padding: 30px 36px;
  }
  .containerIconsSection {
    display: flex;
    flex-direction: column;
  }
  .wrapIconsSection {
    display: flex;
    padding: 16px;
  }
  .icon :global(.MuiSvgIcon-root) {
    font-size: 40px;
  }
  .textIcon {
    padding-top: 0px;
    font-size: 24px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .containerButtonIcons {
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .containerThirdSection {
    padding: 100px 100px;
  }
  .containerButton {
    padding: 30px 60px;
  }
}
