.containerTransferData {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  box-sizing: border-box;
}
.title {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--primaryColor);
}
.subtitle {
  color: var(--primaryColor);
  font-weight: bold;
  padding-top: 10px;
  /* text-align: center; */
}
.textTransfer {
  color: var(--text);
  padding-top: 20px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .containerTransferData {
    background-color: var(--white);
    padding: 20px;
    margin: 10px;
    margin-top: 30px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
  .subtitle {
    padding-bottom: 10px;
  }
  .wrappBankData {
    /* width: 60%; */
    /* align-self: center; */
  }
}
@media screen and (min-width: 1440px) {
  .wrappBankData {
    display: flex;
    align-self: center;
  }
  .containerBankData {
    margin: 10px;
  }
}
@media screen and (min-width: 1920px) {
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 24px;
  }
  .textTransfer {
    font-size: 20px;
  }
  .textTransferData {
    font-size: 20px;
  }
  .containerBankData {
    margin: 20px;
  }
}
