.contactData {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  background-color: var(--lightSecondaryColor);
  padding-top: 20px;
  padding-bottom: 20px;
}
.subWrappData {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.title {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--primaryColor);
}
.subtitle {
  color: var(--darkText);
  font-weight: bold;
}
.containerText {
  display: flex;
  flex-direction: column;
}

.iconLink :global(.MuiSvgIcon-root) {
  font-size: 30px;
  padding-right: 5px;
}
.textContactData {
  color: var(--text);
}
@media screen and (min-width: 768px) {
  .contactData {
    background-color: var(--white);
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
}
@media screen and (min-width: 1024px) {
  .iconLink :global(.MuiSvgIcon-root) {
    font-size: 40px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 24px;
  }
  .textContactData {
    font-size: 20px;
  }
}
