.containerButton {
  text-align: center;
}
.containerButton :global(.MuiButton-root) {
  color: var(--white);
  text-transform: uppercase;
}
.colorPrimary :global(.MuiButton-root) {
  background-color: var(--darkSecondaryColor);
  border-radius: 0px;
}
.colorSecondary :global(.MuiButton-root) {
  background-color: var(--secondary);
  border-radius: 0px;
}

.containerButton :global(.MuiButton-root:hover) {
  background-color: var(--primaryColor);
}
@media screen and (min-width: 768px) {
  .containerButton {
    padding-right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .containerButton {
    padding-right: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .containerButton {
    padding-right: 140px;
  }
}
