.containerServices {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  width: 100%;
  background-color: var(--darkPrimaryColor);
  color: var(--white);
  text-transform: uppercase;
  font-size: 26px;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 30px;
    height: 100px;
  }
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1920px) {
  .title {
    height: 120px;
    font-size: 40px;
  }
}
