.headerButton {
  color: var(--darkPrimaryColor);
}

@media screen and (min-width: 768px) {
  .containerMenuButton :global(.MuiButton-label) {
    width: 120px;
    background: transparent;
    color: var(--darkPrimaryColor);
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-transform: none;
    font-family: sans-serif;
  }
  .headerButton:hover {
    transform: scale(1.1);
    font-weight: bold;
  }
  .containerMenuButton :global(.MuiButton-root:hover) {
    background-color: transparent;
  }

  .containerListButton :global(.MuiButtonBase-root) {
    background: transparent;
    color: var(--darkPrimaryColor);
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-transform: none;
  }
  .containerListButton:hover :global(.MuiButtonBase-root) {
    background-color: transparent;
  }
  .active :global(.MuiButton-label) {
    font-weight: bold;
    padding: 15px;
    border: 1px solid;
    color: var(--darkPrimaryColor);
  }
}
@media screen and (min-width: 1280px) {
  .containerMenuButton :global(.MuiButton-label) {
    width: 150px;
    font-size: 20px;
  }
}
