.containerComponentSeparator {
  padding-left: 20px;
  padding-right: 20px;
}
.line {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px var(--darkPrimaryColor) inset;
}
@media screen and (min-width: 1024px) {
  .containerComponentSeparator {
    padding-left: 80px;
    padding-right: 80px;
  }
}
