.containerDrawerList {
  background: var(--lightSecondaryColor);
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.headerDrawerList {
  height: 60px;
  background: var(--lightSecondaryColor);
}
.containerButtonCloseDrawer {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
}
.clearIcon {
  font-size: 50px;
}
.buttonCloseDrawer {
  background-color: transparent;
  border: none;
  color: var(--darkPrimaryColor);
}
.drawerList {
  display: flex;
  flex-direction: column;
}
.buttonDrawerList {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 18px;
  padding: 5px;
  color: var(--darkPrimaryColor);
  text-transform: uppercase;
}
.buttonSubDrawerList {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 14px;
  color: var(--primaryColor);
  padding: 5px;
  text-transform: uppercase;
}
.wrappIconButton {
  display: flex;
}

.wrappIconButton :global(.MuiSvgIcon-root) {
  font-size: 10px;
  align-self: center;
  margin-left: 10px;
}
