.containerFirstSection {
  display: flex;
  /* flex-direction: column; */
  height: 360px;
  width: 100%;
  background-image: url(../../../images/imageHome/first-section-image.jpeg);
  background-size: 100% 100%;
  margin-top: 83px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  /* background-image: linear-gradient( to top, #957dad, #b18cb3, #c99db9, #dcafc1, #edc3cb, #f1c5cc, #f4c8ce, #f8cacf, #f1bbc7, #e9acc2, #df9ebe, #d291bc ); */
}
.containerText {
  place-self: center;
  width: 100%;
  height: 100%;
  background-color: #00000012;
}
.title {
  text-align: center;
  color: var(--white);
  padding: 30px 15px 0px 15px;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}
.text {
  text-align: center;
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  padding: 15px 0px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  letter-spacing: 3px;
}
.containerFirstSection :global(.MuiButton-root) {
  font-size: 20px;
  background-color: var(--darkSecondaryColor);
  border: 3px solid var(--darkSecondaryColor);
  margin: 45px 0px;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .containerFirstSection {
    height: 550px;
    margin-top: 0px;
  }
  .containerText {
    background-color: #00000042;
  }
  .title {
    font-size: 80px;
    padding: 120px 40px 0px 40px;
  }
  .text {
    font-size: 30px;
    padding: 40px 0px;
  }
  .containerFirstSection :global(.MuiButton-root) {
    font-size: 25px;
    background-color: var(--secondary);
  }
}
@media screen and (min-width: 1024px) {
  .containerFirstSection {
    height: 600px;
    margin-top: 0px;
  }
  .title {
    padding: 120px 15px 90px 15px;
  }
}
@media screen and (min-width: 1280px) {
  .containerFirstSection {
    margin-top: 0px;
    background-size: 100% 110%;
  }
  .title {
    padding: 140px 15px 0px 15px;
  }

  .text {
    text-align: center;
    width: 100%;
  }
}
