.containerThirdSection {
  text-align: center;
  width: 100%;
}
.title {
  font-family: "Alfa Slab One";
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--secondary);
  /* font-size: 20px;
  padding: 30px 20px;
  text-align: center;
  color: var(--dark);
  letter-spacing: 1px;
  text-transform: uppercase; */
}
.text {
  padding: 0px 20px 10px 20px;
  color: var(--text);
  font-size: 18px;
  letter-spacing: 1px;
}

.containerButtonIcons {
  display: flex;
  flex-direction: column;
}
.containerButton {
  padding: 30px 0px;
}
.containerIconsSection {
  display: flex;
  align-self: center;
  margin-top: 30px;
}
.containerIconsSection {
  display: none;
}
.wrapIconsSection {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
}
.icon {
  color: var(--dark);
}
.textIcon {
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--text);
}
.containerThirdSection :global(.MuiButton-root) {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .containerThirdSection {
    padding: 50px 45px;
    box-sizing: border-box;
  }
  .title {
    font-size: 30px;
    padding: 0px 0px;
  }
  .text {
    padding: 30px 0px;
    font-size: 20px;
  }
  .containerButtonIcons {
    align-items: center;
  }
  .containerButton {
    padding: 30px 36px;
  }
  .containerIconsSection {
    display: flex;
  }
  .wrapIconsSection {
    padding: 16px;
    width: 200px;
  }
  .icon :global(.MuiSvgIcon-root) {
    font-size: 40px;
  }
  .textIcon {
    padding-top: 0px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .containerButtonIcons {
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .containerThirdSection {
    padding: 100px 100px;
  }
  .containerButton {
    padding: 30px 60px;
  }
  .text {
    padding: 40px 70px;
  }
}
