.containerFirstSection {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 270px;
  width: 100%;
  background-image: linear-gradient(
    to top,
    #957dad,
    #b18cb3,
    #c99db9,
    #dcafc1,
    #edc3cb,
    #f1c5cc,
    #f4c8ce,
    #f8cacf,
    #f1bbc7,
    #e9acc2,
    #df9ebe,
    #d291bc
  );
  /* background-image: url(../../../images/imageHeader/sombra-persona-cielo-azul.jpg); */
  /* background-size: cover; */
  margin-top: 83px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.containerText {
  place-self: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 11%);
  /* padding-top: 30px; */
  /* padding-left: 15px; */
  /* /* width: 80%;
  height: 80%;
  background-color: rgb(255 255 255 / 40%);
  /* place-self: center; */
}
.title {
  text-align: center;
  color: var(--dark);
  padding: 30px 15px 0px 15px;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}
.text {
  text-align: center;
  color: var(--dark);
  font-size: 24px;
  font-weight: 500;
  padding: 15px 0px;
  font-family: "Dancing Script", cursive;
}
.containerFirstSection :global(.MuiButton-root) {
  font-size: 20px;
  background-color: #957dad;
  /* border: 2px solid var(--darkPrimaryColor); */
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .containerFirstSection {
    height: 500px;
  }
  .title {
    padding: 30px;
    font-size: 40px;
  }
  .text {
    padding: 30px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .containerFirstSection {
    height: 600px;
  }
}
@media screen and (min-width: 1440px) {
  .text {
    text-align: center;
    width: 100%;
  }
}
