.containerLogo {
  border: none;
  background-color: transparent;
  padding-left: 10px;
  padding-top: 10px;
}

.logo {
  height: auto;
  width: 50px;
}
@media screen and (min-width: 768px) {
  .containerLogo {
    font-size: 30px;
  }
  .logo {
    height: auto;
    width: 60px;
  }
}
