.containerGiftSectionHome {
  display: flex;
  justify-content: center;
  background-color: var(--lightSecondaryColor);
  padding: 40px;
}
.containerTitle {
  padding-bottom: 20px;
}
.title {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  color: var(--darkPrimaryColor);
}
.textUppercase {
  text-transform: uppercase;
  color: var(--darkSecondaryColor);
  font-size: 20px;
  text-align: center;
}
.containerText {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}
.text {
  color: var(--darkText);
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.containerImage {
  height: auto;
  width: 80%;
  text-align: center;
  align-self: center;
}
.image {
  width: 100%;
  height: auto;
}
.containerGiftSectionHome :global(.MuiButton-root) {
  border-radius: 0px;
  font-size: 20px;
  background-color: var(--darkPrimaryColor);
  align-self: center;
}
.containerGiftSectionHome :global(.MuiButton-root:hover) {
  background-color: var(--primaryColor);
}
.dowloadButton {
  color: var(--white);
}
.containerImageLarge {
  display: none;
}
@media screen and (min-width: 768px) {
  .containerGiftSectionHome {
    padding: 45px;
  }
  .title {
    font-size: 30px;
  }
  .textUppercase {
    font-size: 30px;
  }
  .text {
    font-size: 24px;
  }
  .containerImage {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .containerGiftSectionHome {
    padding: 60px;
  }
  .containerTitle {
    display: flex;
    justify-content: center;
  }
  .textUppercase {
    margin-left: 10px;
  }
  .containerImage {
    width: 50%;
  }

  .text {
    font-size: 30px;
  }
  .containerGiftSectionHome :global(.MuiButton-root) {
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .containerImageLarge {
    display: block;
    width: 50%;
  }
  .containerImage {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .containerGiftSectionHome {
    padding: 90px;
  }
  .containerImage {
    width: 35%;
  }
  .containerText {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
  }
}
@media screen and (min-width: 1920px) {
  .containerGiftSectionHome {
    padding: 90px 300px;
  }
  .containerImageLarge {
    width: 500px;
  }
  .containerText {
    width: 500px;
    padding-left: 70px;
  }
}
