.containerGiftSectionHome {
  display: flex;
  background-color: var(--lightSecondaryColor);
  padding: 20px;
}
.containerImage {
  height: auto;
  width: 50%;
  text-align: center;
  align-self: center;
}
.image {
  width: 100%;
  height: auto;
}
.containerText {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
}
.text {
  color: var(--darkPrimaryColor);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.textUppercase {
  text-transform: uppercase;
  color: var(--darkSecondaryColor);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.containerGiftSectionHome :global(.MuiButton-root) {
  border-radius: 0px;
  font-size: 13px;
  font-weight: bold;
  background-color: var(--darkPrimaryColor);
  color: var(--white);
  width: fit-content;
  align-self: center;
}
.containerGiftSectionHome :global(.MuiButton-root:hover) {
  background-color: var(--primaryColor);
}
.dowloadButton {
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .containerGiftSectionHome {
    padding: 45px;
  }

  .text {
    font-size: 24px;
  }
  .containerGiftSectionHome :global(.MuiButton-root) {
    font-size: 20px;
  }
  .textUppercase {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .containerGiftSectionHome {
    padding: 60px;
  }
  .text {
    font-size: 30px;
  }
  .textUppercase {
    font-size: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .containerGiftSectionHome {
    justify-content: center;
  }
  .text {
    font-size: 38px;
  }
  .textUppercase {
    font-size: 38px;
  }
  .containerGiftSectionHome :global(.MuiButton-root) {
    margin-top: 30px;
  }
  .containerImage {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .containerGiftSectionHome {
    padding: 70px 90px;
  }
  .containerImage {
    width: 35%;
  }
}
