.containerList {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  align-items: center;
}
.wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 15px;
  padding: 20px 15px;
  /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 2%), 0px 4px 5px 0px rgb(0 0 0 / 2%),
    0px 1px 10px 0px rgb(0 0 0 / 2%); */
  width: 100%;
  background-color: var(--white);
  box-sizing: border-box;
  border: 3px solid #f4f5f6;
}
.containerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-bottom: 15px;
  background-color: var(--primaryColor);
}

.containerIcon :global(.MuiSvgIcon-root) {
  font-size: 90px;
  color: var(--white);
}
.title {
  color: var(--darkPrimaryColor);
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}
.line {
  height: 5px;
  width: 50px;
  border: 0;
  background-color: var(--secondary);
}
.textIcon {
  text-align: center;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .containerList {
    display: flex;
    flex-direction: inherit;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapp {
    width: 300px;
    margin: 10px;
  }
  .textIcon {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .textIcon {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapp {
    width: 275px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapp {
    width: 290px;
  }
  .textIcon {
    font-size: 19px;
  }
}
@media screen and (min-width: 1920px) {
  .wrapp {
    width: 310px;
  }
  .textIcon {
    font-size: 20px;
  }
}
