.headerResponsiveSmall {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.containerButton {
  display: flex;
}
.headerButton {
  color: var(--primary);
}

.shoppingCartButton {
  background-color: transparent;
  border: none;
}
.headerResponsiveLarge {
  display: none;
}

@media screen and (min-width: 768px) {
  .headerResponsiveLarge {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background: white;
  }
  .containerLogo {
    flex-grow: 1;
  }
  .containerHeaderButton {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  .headerButton {
    flex-grow: 1;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  .headerButton:hover {
    font-size: 18px;
    font-weight: bold;
  }
  .active {
    font-weight: bold;
    border-bottom: 2px solid;
    color: var(--primary);
  }
  .shoppingCartButton {
    flex-grow: 1;
  }
  .headerResponsiveSmall {
    display: none;
  }
}
