.containerContactUsResponsiveMedium {
  display: none;
}
.subtitle {
  display: none;
}
.containerContactUsResponsiveSmall {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.textContainerForm {
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 30px;
  text-align: justify;
  color: var(--text);
}
.title {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--darkPrimaryColor);
}
.wrappFormHowItWork {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .containerContactUsResponsiveSmall {
    display: none;
  }
  .containerContactUsResponsiveMedium {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .title {
    padding-bottom: 20px;
  }
  .subtitle {
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    justify-content: center;
    padding-bottom: 10px;
    color: var(--primaryColor);
  }
  .textContainerForm {
    font-size: 16px;
    padding-top: 0px;
  }
  .wrappFormHowItWork {
    flex-direction: unset;
  }
  .subcontainerwrappFormDataContact {
    width: 50%;
  }
  .wrappContactTransferData {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .subcontainerwrappFormDataContact {
    padding-right: 50px;
  }
  .wrappFormHowItWork {
    padding: 10px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .wrappContactTransferData {
    margin-left: 30px;
  }
}
