.containerContactUs {
  display: flex;
  justify-content: center;
  padding: 30px;
  /* background-color: var(--primary); */
}
.formContactUs {
  background-color: var(--light);
  border-radius: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.title {
  color: var(--primary);
  text-align: center;
  padding: 30px;
}
.data {
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
}
.addresse {
  color: var(--secondary);
}
.containerText {
  padding-top: 10px;
}
.text {
  color: var(--primary);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form :global(.MuiInputLabel-root) {
  color: var(--primary);
}
.form :global(.MuiInputBase-input) {
  color: var(--primary);
}
.inputBox {
  width: 250px;
  height: 60px;
}
.input {
  width: 100%;
}
.errorInput {
  color: #c40e0e;
  font-size: 16px;
  margin-bottom: 15px;
}
.commentaryBox {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
}
.form .submitButton {
  align-self: center;
  font-size: 20px;
  background-color: var(--secondary);
  color: var(--white);
  margin-bottom: 20px;
}
.form .submitButton:hover {
  background-color: var(--buttonHover);
  transform: scale(1.1);
}
.image {
  display: none;
}

@media screen and (min-width: 768px) {
  .containerContactUs {
    height: calc(100% - 153px);
  }
  .image {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .containerContactUs {
    height: calc(100% - 193px);
  }
  .image {
    display: block;
    width: 400px;
    height: 370px;
    padding: 70px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .image {
    display: block;
    width: 500px;
    height: auto;
    height: 370px;
    padding: 70px 20px;
    padding-left: 100px;
  }
}
