.containerSecondSection {
  text-align: center;
  padding: 70px 20px;
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
}
.title {
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  font-family: "East Sea Dokdo", cursive;
  letter-spacing: 2px;
  color: var(--darkPrimaryColor);
}
.text {
  color: var(--dark);
  padding: 30px 0px;
  font-family: "Varela Round", sans-serif;
  font-size: 32px;
  color: var(--dark);
}
.containerSecondSection :global(.MuiButton-root) {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .containerSecondSection {
    padding: 80px 45px;
  }
  .title {
    font-size: 45px;
  }
  .text {
    padding: 50px 0px;
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .containerSecondSection {
    height: 400px;
    padding: 120px 90px;
  }
  .text {
    padding: 80px 0px;
  }
}
@media screen and (min-width: 1440px) {
  .text {
    padding: 100px 50px;
  }
}
