.containerSecondSection {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--lightSecondaryColor);
}
.title {
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--darkPrimaryColor);
}
.text {
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--text);
}
.text2 {
  font-size: 18px;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--text);
}

@media screen and (min-width: 768px) {
  .containerSecondSection {
    padding: 45px;
  }
  .title {
    font-size: 30px;
    padding-bottom: 0px;
  }

  .text {
    padding: 30px 0px;
    font-size: 28px;
  }
  .text2 {
    font-size: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .containerSecondSection {
    padding: 60px;
  }
  .text {
    padding: 40px 0px;
  }
  .containerSecondSection :global(.MuiButton-root) {
    font-size: 22px;
  }
}
@media screen and (min-width: 1440px) {
  .containerSecondSection {
    padding: 70px 90px;
  }
}
