.containerSection {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--primary);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.subServices {
  padding-bottom: 5px;
}
.bodyCompanie {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 30px;
    font-family: "Alfa Slab One";
    color: var(--secondary);
    padding-bottom: 20px;
  }

  .marginLeftContainerBody {
    margin-left: 50px;
  }
  .subServices {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .services {
    width: 80%;
    margin-bottom: 20px;
  }
  .marginLeftContainerText {
    margin-left: 50px;
  }
  .title {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .subServices {
    font-size: 18px;
  }
  .containerSection {
    padding: 0px 80px;
    padding-inline-start: unset;
  }
  .title {
    padding-bottom: 40px;
  }
  .services {
    display: flex;
    flex-direction: unset;
    align-items: unset;
    width: 100%;
  }
  .marginLeftContainerBody {
    margin-left: 0px;
  }
  .containerSubServices {
    min-height: 220px;
    margin-left: 25px;
  }
  .bodyCompanie {
    min-height: 220px;
    font-size: 18px;
  }

  .containerSection :global(.MuiButton-root) {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--white);
    background-color: var(--darkPrimaryColor);
  }
  .containerSection :global(.MuiButton-root:hover) {
    background-color: var(--primaryColor);
  }
}
