.containerSection {
  background-color: var(--lightSecondaryColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.title {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--darkPrimaryColor);
  text-align: center;
}
.services {
  display: flex;
  flex-direction: column;
}
.containerService {
  display: flex;
  flex-direction: column;
  /* border: 3px solid #f4f5f6; */
  margin-bottom: 30px;
  background-color: var(--white);
  padding: 20px;
  box-sizing: border-box;
}
.titleService {
  color: var(--primaryColor);
  text-align: center;
  font-size: 24px;
}
.containerImage {
  width: 100%;
  height: auto;
  text-align: center;
}
.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.descriptionService {
  text-align: justify;
  color: var(--text);
}
.button {
  margin-top: 15px;
  align-self: center;
  color: var(--white);
  background-color: var(--darkPrimaryColor);
  width: fit-content;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 20px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.button:hover {
  background-color: var(--primaryColor);
}
.titleServiceLarge {
  display: none;
}
.imageLarge {
  display: none;
}

/* @media screen and (min-width: 768px) {
  .containerSection {
    padding: 45px;
  }
  .title {
    font-size: 30px;
  }
  .containerService {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 20px;
    width: 450px;
  }

  .titleService {
    font-size: 30px;
  }

  .descriptionService {
    font-size: 18px;
  }
  .image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
} */

@media screen and (min-width: 768px) {
  .containerSection {
    padding: 50px;
  }
  .title {
    font-size: 30px;
  }
  .titleService {
    font-size: 30px;
  }
  .services {
    display: flex;
  }
  .wrappService {
    display: flex;
    justify-content: center;
  }
  .containerService {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px 20px 20px;
  }
  .titleService {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .wrappTextImage {
    display: flex;
    align-items: center;
  }
  .containerImage {
    width: 40%;
  }
  .image {
    width: 200px;
    height: 200px;
  }
  .containerDescription {
    width: 60%;
  }
  .button {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .containerSection {
    padding: 60px;
  }
  .containerService {
    padding: 20px 60px 20px 20px;
  }
  .image {
    width: 250px;
    height: 250px;
  }
  .descriptionService {
    font-size: 18px;
  }
  .button {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .wrappTextImage {
    padding: 10px 50px;
    justify-content: center;
  }
  .containerImage {
    width: 30%;
    margin-right: 80px;
  }

  .titleService {
    font-size: 34px;
  }
}
@media screen and (min-width: 1440px) {
  .containerSection {
    padding: 90px;
  }
  .containerService {
    width: 80%;
  }
  .image {
    width: 300px;
    height: 300px;
  }
  .descriptionService {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .containerSection {
    padding: 90px 300px;
  }
  .containerService {
    width: 100%;
  }
}
