.containerFounderCompany {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.title {
  text-align: center;
  padding-bottom: 10px;
  color: var(--darkPrimaryColor);
  text-transform: uppercase;
  font-size: 20px;
}
.containerImage {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.image {
  width: 80%;
  background-color: var(--lightSecondaryColor);
}
.name {
  font-size: 20px;
  color: var(--darkSecondaryColor);
}
.profession {
  font-size: 20px;
  color: var(--darkText);
}
.subtitle {
  padding-top: 10px;
  font-size: 20px;
  color: var(--primaryColor);
}
.text {
  font-size: 16px;
  color: var(--text);
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .containerFounderCompany {
    display: block;
    flex-direction: unset;
  }
  .wrappData {
    display: flex;
  }
  .wrappDataExperience {
    width: 50%;
  }
  .containerImage {
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding-right: 20px;
    float: left;
  }
  .image {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 30px;
  }
  .name {
    font-size: 24px;
  }
  .subtitle {
    font-size: 24px;
  }
  .profession {
    font-size: 24px;
  }
  .text {
    font-size: 20px;
  }
  .containerImage {
    width: 35%;
  }
}
@media screen and (min-width: 1280px) {
  .containerFounderCompany {
    /* padding: 10px 80px; */
  }
}
@media screen and (min-width: 1440px) {
  .containerFounderCompany {
    /* padding: 10px 100px; */
  }
}
@media screen and (min-width: 1920px) {
  .containerTraining {
    margin-top: 30px;
  }
}
