.containerOfferSectionHome {
  box-sizing: border-box;
  padding: 40px;
}
ul {
  padding-inline-start: 20px;
}
.border {
  border: 3px solid #f4f5f6;
  box-sizing: border-box;
  padding: 20px;
}
.title {
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--darkPrimaryColor);
}
.subtitle {
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
.subtitleRight {
  font-weight: bold;
  text-align: center;
  color: var(--darkText);
  text-transform: uppercase;
}
/* .containerIcon :global(.MuiSvgIcon-root) {
  color: var(--darkText);
  font-size: 50px;
} */
.price {
  color: var(--darkPrimaryColor);
  font-size: 40px;
}
.text {
  font-size: 16px;
  text-align: justify;
  color: var(--text);
}
.textRight {
  font-weight: bold;
  color: var(--darkText);
  text-transform: uppercase;
}
.simpleText {
  font-size: 16px;
  text-align: justify;
  color: var(--text);
}
.containerRight {
  box-sizing: border-box;
  background-color: var(--lightSecondaryColor);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.containerOffer {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
}
.containerRight :global(.MuiButton-root) {
  background-color: var(--darkPrimaryColor);
  color: var(--white);
}
.containerOfferSectionHome :global(.MuiButton-root:hover) {
  background-color: var(--primaryColor);
}
.containerLeft :global(.MuiButton-root) {
  background-color: var(--darkPrimaryColor);
  color: var(--white);
  width: fit-content;
}
.containerLeft {
  display: none;
}

@media screen and (min-width: 768px) {
  .containerOfferSectionHome {
    padding: 45px;
  }
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: initial;
  }
  .price {
    font-size: 46px;
    color: var(--primaryColor);
  }
  .wrappContainer {
    display: flex;
    justify-content: center;
  }
  .containerLeft {
    display: block;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 50px;
  }
  .text {
    margin-bottom: 20px;
  }
  .containerRight {
    width: 50%;
    padding: 30px;
  }
  .simpleText {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .containerOfferSectionHome {
    padding: 60px;
  }
  .title {
    font-size: 30px;
    padding-bottom: 40px;
  }
  .containerLeft {
    margin-right: 70px;
    width: 40%;
  }
  .textRight {
    font-size: 18px;
  }
  .text {
    font-size: 18px;
  }
  .simpleText {
    font-size: 18px;
  }
  .containerOfferSectionHome :global(.MuiButton-root) {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .containerOfferSectionHome {
    padding: 60px;
  }
  .wrappContainer {
    justify-content: center;
  }
  .containerRight {
    width: 40%;
  }
  .containerLeft {
    margin-right: 0px;
  }
  .containerText {
    width: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .containerOfferSectionHome {
    padding: 70px 90px;
    display: flex;
    justify-content: center;
  }
  .containerLeft {
    width: 50%;
  }
  .containerRight {
    width: 40%;
  }
  .text {
    font-size: 20px;
  }
  .textRight {
    font-size: 20px;
  }
  .border {
    width: 80%;
  }
}
@media screen and (min-width: 1920px) {
  .containerOfferSectionHome {
    padding: 90px 300px;
  }
}
