/* :root {
  --white: #ffffff;
  --dark: #212121;
  --primaryColor: #edb4dc;
  --darkPrimaryColor: #ba84aa;
  --lightPrimaryColor: #ffe6ff;
  --secondary: #a2afb8;
  --darkSecondaryColor: #9e9e9e;
  --lightSecondaryColor: #d3e1ea;
} */
:root {
  --white: #ffffff;
  --dark: #212121;
  --primaryColor: #edb4dc;
  --darkPrimaryColor: #ba84aa;
  --lightPrimaryColor: #ffe6ff;
  --secondary: #d291bc;
  --darkSecondaryColor: #957dad;
  --lightSecondaryColor: #ffdfd3;
}
