@import "./colors-palette.css";

body {
  /* evitar que dobleClick haga zoom en Iphone  */
  touch-action: manipulation;

  /* evitar padre scroll en Iphone */
  -webkit-overflow-scrolling: touch;

  margin: 0;
  /* font-family: "Staatliches"; */
  /* color: #212121; */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  max-height: 100%;
}

button {
  cursor: pointer;
}
.root .MuiInput-underline:after {
  border-bottom: 2px solid var(--dark);
}

.root .MuiFormLabel-root.Mui-focused {
  color: var(--dark);
}
